<div class="row">
  <div class="col col-md"></div>
  <div class="col-10 col-md-8">
    <h2>Añadir nuevo proveedor</h2>
    <form (ngSubmit)="onSubmit()" #formpro="ngForm">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" ngModel name="nombre">
      </div>
      <div class="form-group">
        <label for="cif">CIF</label>
        <input type="text" class="form-control" id="cif" ngModel name="cif">
      </div>
      <div class="form-group">
        <label for="direccion">Dirección</label>
        <input type="text" class="form-control" id="direccion" ngModel name="direccion">
      </div>
      <div class="form-group">
        <label for="cp">C.P</label>
        <input type="text" class="form-control" id="cp" ngModel name="cp">
      </div>
      <div class="form-group">
        <label for="localidad">Localidad</label>
        <input type="text" class="form-control" id="localidad" ngModel name="localidad">
      </div>
      <div class="form-group">
        <label for="provincia">Provincia</label>
        <select class="form-control" id="provincia" ngModel name="provincia">
          <option value="">Seleccione la provincia</option>
          <option *ngFor="let provincia of provincias" [value]="provincia">{{ provincia }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="number" class="form-control" id="telefono" ngModel name="telefono">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <i class="fa fa-check-circle check" *ngIf="email.valid"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="email.invalid && email.touched"></i>
        <input type="email" class="form-control" id="email" ngModel name="email" required email #email="ngModel">
        <p class="alert alert-danger" *ngIf="email.invalid && email.touched">Por favor introduzca una dirección de correo válida</p>
      </div>
      <div class="form-group">
        <label for="contacto">Contacto</label>
        <input type="text" class="form-control" id="contacto" ngModel name="contacto">
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!formpro.valid">Añadir proveedor</button>
      <p class="alert alert-danger" *ngIf="!formpro.valid">Por favor complete todos los campos obligatorios</p>
    </form>
    <hr>
    <pre>
      {{ proveedor | json }}
    </pre>
    <h4>Estado dirty: {{ formpro.controls.email.dirty }}</h4>
    <h4>Estado pristine: {{ formpro.controls.email.pristine }}</h4>
    <h4>Estado touched: {{ formpro.controls.email.touched }}</h4>
    <h4>Estado valid: {{ formpro.controls.email.valid }}</h4>
    <h4>Estado invalid: {{ formpro.controls.email.invalid }}</h4>
  </div>
  <div class="col col-md"></div>
</div>