<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="isAuth()">
          <a class="nav-link" routerLink="/">Inicio </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isAuth()">
          <a class="nav-link" routerLink="/proveedores">Proveedores</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isAuth()">
        <a class="nav-link" routerLink="/presupuestos">Presupuestos</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth()">
        <button class="btn btn-primary" routerLink="/initses">Inicio sesión</button>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="isAuth()">
        <button class="btn btn-primary" (click)="onLogout()">Cerrar sesión</button>
      </li>
    </ul>

  </div>
</nav>

