<h3>Listado de Proveedores</h3>
<a class="btn btn-primary float-md-right" routerLink="/addprovee">Añadir nuevo proveedor</a>
<table class="table table-bordered table-striped" style="margin-top: 40px;">
  <thead>
    <tr class="filters">
      <th>Nombre</th>
      <th>Correo electrónico</th>
      <th>Teléfono</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let proveedor of proveedores">
      <td>{{ proveedor.nombre }}</td>
      <td><a href="mailto:{{ proveedor.email }}">{{ proveedor.email }}</a> </td>
      <td>{{ proveedor.telefono }}</td>
    </tr>
  </tbody>
</table>