<div class="row">
  <div class="col col-md"></div>
  <div class="col-10 col-md-6">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h4>Introduzca sus datos</h4>
      <label>Correo Electrónico</label>
      <input type="mail" class="form-control" id="inputEmail" autofocus formControlName="email">
      <label>Contraseña</label>
      <input type="password" class="form-control" id="inputPassword" formControlName="password">
      <hr>
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Inicie sesión</button>
    </form>
    <p>Si no dispone de cuenta pulse <a routerLink="/registro">aquí</a></p>
    <p class="alert alert-danger" *ngIf="mensaje">El usuario o contraseña no es correcto</p>
  </div>
  <div class="col col-md"></div>
</div>