<div class="row">
  <div class="col col-md"></div>
  <div class="col-10 col-md-8">
    <h2>Editar presupuesto</h2>
    <a class="btn btn-primary float-md-right" routerLink="/presupuestos">Regresar al listado</a>
    <form [formGroup]="presupuestoForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="proveedor">Proveedor</label>
        <i class="fa fa-check-circle check" *ngIf="presupuestoForm.controls.proveedor.valid"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="presupuestoForm.controls.proveedor.invalid && presupuestoForm.controls.proveedor.touched"></i>
        <input type="text" class="form-control" id="proveedor" formControlName="proveedor" [(ngModel)]="presupuesto.proveedor">
        <p class="alert alert-danger" *ngIf="presupuestoForm.controls.proveedor.invalid && presupuestoForm.controls.proveedor.touched">El campo proveedor es obligatorio</p>
      </div>
      <div class="form-group">
        <label for="fecha">Fecha</label>
        <i class="fa fa-check-circle check" *ngIf="presupuestoForm.controls.fecha.valid"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="presupuestoForm.controls.fecha.invalid && presupuestoForm.controls.fecha.touched"></i>
        <input type="date" class="form-control" id="fecha" formControlName="fecha" [(ngModel)]="presupuesto.fecha">
        <p class="alert alert-danger" *ngIf="presupuestoForm.controls.fecha.invalid && presupuestoForm.controls.fecha.touched">El campo fecha es obligatorio</p>
      </div>
      <div class="form-group">
        <label for="concepto">Concepto</label>
        <i class="fa fa-check-circle check" *ngIf="presupuestoForm.controls.concepto.valid"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="presupuestoForm.controls.concepto.invalid && presupuestoForm.controls.concepto.touched"></i>
        <input type="text" class="form-control" id="concepto" formControlName="concepto" [(ngModel)]="presupuesto.concepto">
        <p class="alert alert-danger" *ngIf="presupuestoForm.controls.concepto.invalid && presupuestoForm.controls.concepto.touched">El campo fecha es obligatorio y debe tener más de 10 caracteres</p>
      </div>
      <div class="form-group">
        <label for="base">Base Imponible</label>
        <i class="fa fa-check-circle check" *ngIf="presupuestoForm.controls.base.valid"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="presupuestoForm.controls.base.invalid && presupuestoForm.controls.base.touched"></i>
        <input type="number" class="form-control" id="base" formControlName="base" [(ngModel)]="presupuesto.base">
        <p class="alert alert-danger" *ngIf="presupuestoForm.controls.base.invalid && presupuestoForm.controls.base.touched">El campo base es obligatorio</p>
      </div>
      <div class="form-group">
        <label for="tipo">Tipo de IVA</label>
        <i class="fa fa-check-circle check" *ngIf="presupuestoForm.controls.tipo.valid"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="presupuestoForm.controls.tipo.invalid && presupuestoForm.controls.tipo.touched"></i>
        <select class="form-control" id="tipo" formControlName="tipo" [(ngModel)]="presupuesto.tipo">
          <option value="">Seleccione...</option>
          <option value=0>0 %</option>
          <option value=0.04>4 %</option>
          <option value=0.10>10 %</option>
          <option value=0.21>21 %</option>
        </select>
        <p class="alert alert-danger" *ngIf="presupuestoForm.controls.tipo.invalid && presupuestoForm.controls.tipo.touched">El campo tipo de IVA es obligatorio</p>
      </div>
      <div class="form-group">
        <label for="iva">Importe IVA</label>
        <i class="fa fa-check-circle check" *ngIf="presupuestoForm.controls.iva.valid"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="presupuestoForm.controls.iva.invalid && presupuestoForm.controls.iva.touched"></i>
        <input type="number" class="form-control" id="iva" formControlName="iva" [(ngModel)]="presupuestoForm.value.iva" disabled>
        <p class="alert alert-danger" *ngIf="presupuestoForm.controls.iva.invalid && presupuestoForm.controls.iva.touched">El campo IVA es obligatorio</p>
      </div>
      <div class="form-group">
        <label for="total">Total Presupuesto</label>
        <i class="fa fa-check-circle check" *ngIf="presupuestoForm.controls.total.valid"></i>
        <i class="fa fa-exclamation-circle uncheck" *ngIf="presupuestoForm.controls.total.invalid && presupuestoForm.controls.total.touched"></i>
        <input type="number" class="form-control" id="total" formControlName="total" [(ngModel)]="presupuestoForm.value.total" disabled >
        <p class="alert alert-danger" *ngIf="presupuestoForm.controls.total.invalid && presupuestoForm.controls.total.touched">El campo total es obligatorio</p>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!presupuestoForm.valid">Guardar cambios</button>
      <a class="btn btn-danger" routerLink="/presupuestos">Cancelar</a>
      <p class="alert alert-danger" *ngIf="!presupuestoForm.valid">Por favor complete todos los campos obligatorios</p>
    </form>
  </div>
  <div class="col col-md"></div>
</div>